<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.analyzer.dao.mapper.BuyHPMapper">

    <resultMap type="com.analyzer.api.BuyHP" id="BHPResult">
        <id property="id" column="id" />
        <!-- 	saID,receiveName,address,phone,customer_id -->
        <result property="" column="region" />
        <result property="" column="name" />
        <result property="" column="price" />
        <result property="" column="prices" />
        <result property="" column="format" />
        <result property="" column="area" />
        <result property="" column="desc" />
        <result property="" column="owner" />
        <result property="" column="location" />
        <result property="" column="other" />
        <result property="" column="is_rhp" />
    </resultMap>

    <!-- 给定父类的id，查找子类对象 -->
    <select id="selectAllbyCondition" parameterType="com.analyzer.api.condition.BuyCondition" resultType="BHPResult">
		select *
		 from housing_form
		  where url=#{URL}
	</select>
    <insert id="saveOne" parameterType="com.web.model.Model" useGeneratedKeys="true" keyProperty="id">
		insert into housing_form(url)
		values(#{url})
	</insert>

    <insert id="saveAll" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into housing_form
        (url)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.url},#{item.url},#{item.url},#{item.url})
        </foreach>
    </insert>

    <delete id="deleteOne" parameterType="int">
		delete from
		where id=#{id}
	</delete>
</mapper>